/* --------- Global style */

* {
    margin: 0 auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fafafa;
    text-align: center;
    background: #089D3B;
}

/* --------- Heading */

.heading {
    text-align: center;
    font-size: 2.5rem;
    padding: 20px 0px;
    text-decoration: underline;
}